[submodule "ca"]
	path = ca
	url = git@github.com:everypolitician/proto-commons-canada.git
[submodule "it"]
	path = it
	url = git@github.com:everypolitician/proto-commons-italy.git
[submodule "kr"]
	path = kr
	url = git@github.com:everypolitician/proto-commons-south-korea.git
[submodule "tw"]
	path = tw
	url = git@github.com:everypolitician/proto-commons-taiwan.git
[submodule "py"]
	path = py
	url = git@github.com:everypolitician/proto-commons-paraguay.git
[submodule "co"]
	path = co
	url = git@github.com:everypolitician/proto-commons-colombia.git
[submodule "br"]
	path = br
	url = git@github.com:everypolitician/proto-commons-brazil.git
[submodule "mx"]
	path = mx
	url = git@github.com:everypolitician/proto-commons-mexico.git
[submodule "ee"]
	path = ee
	url = git@github.com:everypolitician/proto-commons-estonia.git
[submodule "hk"]
	path = hk
	url = git@github.com:everypolitician/proto-commons-hong-kong.git
[submodule "cl"]
	path = cl
	url = git@github.com:everypolitician/proto-commons-chile.git
[submodule "ie"]
	path = ie
	url = git@github.com:everypolitician/proto-commons-ireland.git
[submodule "ad"]
	path = ad
	url = git@github.com:everypolitician/proto-commons-andorra.git
[submodule "cy"]
	path = cy
	url = git@github.com:everypolitician/proto-commons-cyprus.git
[submodule "pe"]
	path = pe
	url = git@github.com:everypolitician/proto-commons-peru.git
[submodule "pt"]
	path = pt
	url = git@github.com:everypolitician/proto-commons-portugal.git
[submodule "ae"]
	path = ae
	url = git@github.com:everypolitician/proto-commons-united-arab-emirates.git
[submodule "gb"]
	path = gb
	url = git@github.com:everypolitician/proto-commons-united-kingdom.git
[submodule "in"]
	path = in
	url = git@github.com:everypolitician/proto-commons-india.git
[submodule "cr"]
	path = cr
	url = git@github.com:everypolitician/proto-commons-costa-rica.git
[submodule "ng"]
	path = ng
	url = git@github.com:everypolitician/proto-commons-nigeria.git
[submodule "ar"]
	path = ar
	url = git@github.com:everypolitician/proto-commons-argentina.git
[submodule "au"]
	path = au
	url = git@github.com:everypolitician/proto-commons-australia.git
[submodule "bd"]
	path = bd
	url = git@github.com:everypolitician/proto-commons-bangladesh.git
[submodule "be"]
	path = be
	url = git@github.com:everypolitician/proto-commons-belgium.git
[submodule "fr"]
	path = fr
	url = git@github.com:everypolitician/proto-commons-france.git
[submodule "de"]
	path = de
	url = git@github.com:everypolitician/proto-commons-germany.git
[submodule "jp"]
	path = jp
	url = git@github.com:everypolitician/proto-commons-japan.git
[submodule "ke"]
	path = ke
	url = git@github.com:everypolitician/proto-commons-kenya.git
[submodule "pk"]
	path = pk
	url = git@github.com:everypolitician/proto-commons-pakistan.git
[submodule "pl"]
	path = pl
	url = git@github.com:everypolitician/proto-commons-poland.git
[submodule "za"]
	path = za
	url = git@github.com:everypolitician/proto-commons-south-africa.git
